<html>
<body>
    <h1>Predictive Equipment Failure: Type of Failure</h1>

<div>
  <form action="/predict" method="POST">
    <label for="review_text">Input Data</label>
      <textarea name="review_text" rows="20" cols="30"></textarea>>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

<h3 style="background-color:yellow;"> NOTE:-Please enter valid NON-NEGATIVE numbers or "na" values only. 170 numbers are required to complete/make a single datapoint. You can add multiple datapoints separated by the ":" symbol</h3>

</body>
</html>